@charset "utf-8";
@font-face {
    font-family: "Museo Sans W01 300";
    src: url("fonts/fd479df2-01b0-4e3a-a411-915c477f1352.eot?#iefix");
    src: url("fonts/fd479df2-01b0-4e3a-a411-915c477f1352.eot?#iefix") format("eot"), url("fonts/b252d464-65cb-4950-88f7-ac0a1bf79b75.woff") format("woff"), url("fonts/b3d18117-6517-4d3f-afc1-774086ff5fc1.ttf") format("truetype"), url("fonts/b9bed509-0816-43d8-b14b-7525a21f4bde.svg#b9bed509-0816-43d8-b14b-7525a21f4bde") format("svg");
}

@font-face {
    font-family: "Museo Sans W01 500";
    src: url("fonts/a29947fd-0c53-492b-b2f4-399b01153b30.eot?#iefix");
    src: url("fonts/a29947fd-0c53-492b-b2f4-399b01153b30.eot?#iefix") format("eot"), url("fonts/d42dd843-62b0-4623-8855-d5882512c3c9.woff") format("woff"), url("fonts/6d532ccb-086c-4000-bab2-5d16862fcf01.ttf") format("truetype"), url("fonts/f56b7407-f97b-4cb3-9ce6-4e13065eec93.svg#f56b7407-f97b-4cb3-9ce6-4e13065eec93") format("svg");
}

@font-face {
    font-family: "Museo Sans W01 700";
    src: url("fonts/3d0a39cf-115c-4800-9b1e-31c7912abfc2.eot?#iefix");
    src: url("fonts/3d0a39cf-115c-4800-9b1e-31c7912abfc2.eot?#iefix") format("eot"), url("fonts/eadbb595-a394-48fc-834f-8bf5da15cddf.woff") format("woff"), url("fonts/9bcba093-b507-4b9b-9c83-303003d3815c.ttf") format("truetype"), url("fonts/9a2af429-2624-4bd1-a676-8f0eed3e7e31.svg#9a2af429-2624-4bd1-a676-8f0eed3e7e31") format("svg");
}

@font-face {
    font-family: "UniversLTW10-59UltraCn";
    src: url("fonts/96fc156e-68b0-49e3-a12c-7834e25794e0.eot?#iefix");
    src: url("fonts/96fc156e-68b0-49e3-a12c-7834e25794e0.eot?#iefix") format("eot"), url("fonts/af1ced60-c84b-4677-ad77-21d48031d4ec.woff") format("woff"), url("fonts/6c45a9db-7455-4a31-9da7-46e7d3d354d4.ttf") format("truetype"), url("fonts/2a07a982-092c-45fd-b7c7-cfc5319cc4e6.svg#2a07a982-092c-45fd-b7c7-cfc5319cc4e6") format("svg");
}

html {
    height: 100%;
}

h1 {
    font-family: 'Museo Sans W01 500', Arial;
    font-size: 1.5em;
    line-height: 1.4em;
    font-weight: normal;
    color: #003e2d;
    word-wrap: break-word;
}

h2 {
    font-family: 'Museo Sans W01 500', Arial;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: normal;
    color: #154754;
    word-wrap: break-word;
}

h3 {
    font-family: 'Museo Sans W01 500', Arial;
    font-size: 1.1em;
    line-height: 1.1em;
    font-weight: normal;
    color: #003e2d;
    word-wrap: break-word;
}

h4 {
    font-family: 'Museo Sans W01 500', Arial;
    font-size: 1.0em;
    line-height: 1.1em;
    font-weight: normal;
    color: #005058;
    word-wrap: break-word;
}

h5 {
    font-family: 'UniversLTW10-59UltraCn', Arial;
    font-size: 1.5em;
    font-weight: normal;
    text-transform: uppercase;
    color: #005058;
    word-wrap: break-word;
}

h6 {
    font-family: 'UniversLTW10-59UltraCn', Arial;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: normal;
    color: #005058;
    text-transform: uppercase;
    margin: 0.4em 0;
    word-wrap: break-word;
}

h6 em {
    display: inline-block;
    margin-top: 3px;
    height: 1.1em;
    vertical-align: top;
    border-top: 2px solid #add18c;
    border-bottom: 2px solid #add18c;
    font-size: 0.7em;
    font-style: normal;
}

.heading {
    clear: left;
}

hr {
    background-color: #a8cd87;
    color: #a8cd87;
    margin: 0;
    padding: 0;
    border: none;
    height: 1px;
    margin-bottom: 10px;
}

a {
    color: #b15533;
}

blockquote {
    margin: 5px 0 5px 20px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

button {
    cursor: pointer;
    color: #fff;
    background-color: #b15533;
    border: 1px solid #b15533;
    padding: 5px 12px;
    margin: 0 2px;
}

button:hover {
    background-color: #c17f66;
    border: 1px solid #c17f66;
}

button:active {
    background-color: #e88320;
}

button:disabled {
    background-color: #ccc;
    border: 1px solid #ccc;
}

img {
    border: none;
}

table {
    border: none;
    width: 100%;
    overflow: scroll;
}

.table th {
    background-color: #add18c;
    padding: 5px;
}

.table td {
    padding: 5px;
}

.table tr:nth-child(even) {
    background-color: #f7f7f7;
}

.table tr:nth-child(odd) {
    background-color: rgba(81, 120, 145, 0.2);
}

.table tr:hover {
    background-color: rgba(81, 120, 145, 0.3);
}

.table caption {
    caption-side: top;
    text-align: left;
    background-color: #bcd2dd;
    margin: 0 2px;
    padding: 5px 0 0 5px;
}

.table a {
    color: #003f2e;
}

.table .red {
    background-color: rgba(200, 0, 0, 0.2);
}

.table .yellow {
    background-color: rgba(204, 196, 110, 0.3);
}

.report {
    padding: 15px 5px;
}

.indent {
    padding-left: 15px;
}

.spacer {
    padding: 5px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.top {
    vertical-align: top;
}

.fLeft {
    float: left;
}

.fRight {
    float: right;
}

.seventyFive {
    width: 75%;
}

.fifty {
    width: 50%;
}

.twentyFive {
    width: 25%;
}

.ten {
    width: 10%;
}

.blur {
    filter: blur(1px);
}

.burntOrange {
    color: #b15533;
}

.dustyGold {
    color: #ccc46e;
}

.dustyGreen {
    color: #add18c;
}

.dustyBlue {
    color: #bcd2dd;
}

.trentGreen {
    color: #003e2d;
}

.trentBlue {
    color: #517891;
}

.trentTeal {
    color: #005058;
}

input[type='text'], input[type='password'], textarea {
    background-color: #f7f7f7;
    border: 1px solid #005f6c;
    font-family: 'Museo Sans W01 300', Arial;
    font-size: 1em;
    line-height: 20px;
    padding: 5px;
    width: 98%;
    resize: none;
}

textarea {
    height: 200px;
}

select {
    background-color: #f7f7f7;
    border: 1px solid #005f6c;
    font-family: 'Museo Sans W01 300', Arial;
    font-size: 1em;
    line-height: 20px;
    padding: 5px;
    width: 99%;
}

input:focus {
    border: 1px solid #b15533;
}

fieldset {
    border: 1px solid #005f6c;
    background-color: none;
    border-radius: 3px;
}

fieldset fieldset {
    border: 1px solid rgba(0, 37, 42, 0.3);
    background-color: rgba(81, 120, 145, 0.1);
}

form .editable {
    border: none;
    background-color: white;
}

.formControl {
    width: 98%;
    padding: 5px 1%;
    text-align: center;
    background-color: rgba(81, 120, 145, 0.3);
}

form .ui-state-highlight {
    background: none !important;
    border: 3px solid rgba(173, 209, 140, 0.65);
    border-radius: 3px;
}

form #formFields .formField:hover {
    background-color: rgba(173, 209, 140, 0.65);
    transition: background-color 0.25s ease-out;
    color: #003e2d;
    cursor: move;
}

form #formFields .formField {
    padding: 5px 5px 10px;
}

form .display {
    border: 1px solid #005f6c;
    border-radius: 3px;
    font-family: 'Museo Sans W01 300', Arial;
    font-size: 1em;
    line-height: 1.1em;
    padding: 2px;
    width: 99%;
}

.element {
    padding: 5px;
}

.element p, .element h2, .element h3, .element h4, .element h5, .element .placeholderTitle {
    margin: 0;
    padding: 5px 0 2px;
}

.element .error {
    color: red;
    font-style: italic;
}

.element .required {
    color: red;
}

.element .preview {
    width: 100%;
}

.element .preview img {
    width: inherit;
}

.element .progress {
    position: relative;
    width: inherit;
}

.element .progressLabel {
    position: absolute;
    text-align: center;
    line-height: 35px;
    font-size: 0.7em;
    width: 100%;
}

.element .equation {}

.element .operator {
    display: inline-block;
    background-color: #bcd2dd;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 3px;
    color: #005058;
    font-size: 0.7em;
    font-weight: bold;
}

.element .activeOperator {
    background-color: #add18c;
    border: 1px solid #add18c;
    color: #003e2d;
}

.element .audience {
    display: inline-block;
    background-color: #add18c;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 3px;
    color: #003e2d;
    font-size: 0.8em;
}

.twoBox .twoBoxColumn1 {
    overflow-y: scroll;
    width: 49%;
    height: 300px;
    float: left;
    background-color: white;
    border: 1px solid #005f6c;
}

.twoBox .twoBoxColumn2 {
    overflow-y: scroll;
    width: 49%;
    height: 300px;
    float: right;
    background-color: white;
    border: 1px solid #005f6c;
}

.twoBox .item {
    display: block;
    text-decoration: none;
    color: #444;
    padding: 3px 10px;
}

.twoBox .item:hover {
    background-color: #b15533 !important;
    transition: background-color 0.3s ease-out 0s;
    color: #fff
}

.formIconCanvas {
    height: 320px;
    overflow-y: scroll;
    background-color: #f7f7f7;
    border: 1px solid #005f6c;
    border-radius: 3px;
}

.formIcon {
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    width: 48px;
    height: 48px;
    padding: 5px;
    font-size: .9em;
    text-align: center;
}

.formIcon img {
    width: 48px;
    background-image: none;
}

.formIconSelected {
    background-color: rgba(173, 209, 140, 0.5);
    transition: background-color 0.35s ease-out;
}

.formGallery {
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    width: 192px;
    padding: 7px;
    font-size: .9em;
    text-align: center;
}

.formGallery img {
    width: 192px;
    background-image: none;
}

/* News/Events */

#eventSessions {
    padding-left: 20px;
}

.sessionColumn {
    display: table-cell;
    vertical-align: top;
}

#sessionContactHead {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    min-width: 75px;
}

#sessionContactContent {
    display: inline-block;
    vertical-align: top;
    width: 80%;
}

/* List Status */

.draft {
    background-color: red;
}

.review {
    background-color: #ccc46e;
}

.publish {
    background-color: green;
}

.expired {
    background-color: grey;
}

.hidden {
    background-color: #fff;
}

/* Breadcrumb */

#breadCrumb {
    color: #003e2d;
    text-transform: uppercase;
}

#breadCrumb a {
    color: #003e2d !important;
    text-decoration: underline;
}

/* JQuery UI Widgets */

.comboBox {
    position: relative;
}

.comboBoxInput {
    background-color: #f7f7f7;
    border: 1px solid #005f6c;
    font-family: 'Museo Sans W01 300', Arial;
    font-size: 1em;
    line-height: 20px;
    padding: 5px;
    width: 98%;
    margin: 0;
}